.bg-halkaWhite {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.bg-blue {
    background-color: #cfcfcf;
    width: 100%;
    height: 100%;
}

p a {
    color: #ffffff;
}

.form-control:hover,.form-control:focus
{
    box-shadow: none;
}


.sidebar
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #cccccc;
    width: 320px;
    color: #1e1e1e;
    /* opacity: 0.5; */
}

.sidebar table 
{
    /* color: #ffffff; */
}
.sidebar .welcome-note
{
    background-color:#39b12a;
    vertical-align: middle;
    color: #ffffff;
}

.content-area
{
    width: 100%;
    margin-left: 320px;
}

.content-area .header
{
    background-color: #446699;
    color: #ffffff;
}

.profile-img
{
    width: 80px;
    height: 80px;
}

.pull-left
{
    float: left;
}

.profile-detail p
{
    line-height: 1px;
}

.clear
{
    clear: both;
}

ul.icon-nav , ul.icon-nav li{
    float: left;
}

ul.icon-nav li a{
    padding: 5px;
    margin: 5px;
    color: #1e1e1e;
}